.opportunity-grid {
  display: flex;
  flex-wrap: wrap; /* Ensures the cards wrap on smaller screens */
  gap: 2.5rem;
  justify-content: center;
  align-items: stretch; /* Ensures cards are the same height */
}
.featured-opportunities{
  width: 98vw;
}

.opportunity-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  padding: 1.5rem;
  text-align: left;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 4px solid var(--info);
  min-height: 350px; /* Ensures cards have a minimum height */
  flex-basis: 300px; /* Ensures each card starts with a 300px width */
  flex-grow: 1; /* Ensures cards grow to take available space */
  width: calc(33% - 2rem); /* Ensures three cards per row */
}

.opportunity-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.opportunity-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.opportunity-card:hover .opportunity-image {
  transform: scale(1.03);
}

.opportunity-category {
  background-color: var(--info);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 1rem;
}

.opportunity-card h3 {
  font-size: 1.4rem;
  margin: 0.6rem 0;
  color: var(--primary);
  font-weight: 700;
}

.opportunity-details {
  width: 100%;
  font-size: 1rem;
  color: var(--secondary);
  margin-bottom: 1.2rem;
  background-color: var(--light);
  padding: 1rem;
  border-radius: 8px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: var(--secondary);
  padding: 0.4rem 0;
}

.detail-label {
  font-weight: 700;
  color: var(--primary);
}

.opportunity-card p {
  font-size: 1rem;
  color: var(--secondary);
  margin-bottom: 1.5rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.opportunity-button {
  background-color: var(--accent);
  color: var(--dark);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 1.2rem;
}

.opportunity-button:hover {
  background-color: var(--accent-light);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}